<section class="section_welcome">
    <div class="container">
        <div class="sectioncaption">Relationship-based Messenger marketing</div>
        <div class="sectiontext">
            Create a Messenger bot for marketing, sales and support on the world’s leading chatbot platform.
            <img src="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_30.png"
                 srcset="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_60.png 2x"
                 alt="" class="emoji desktop">
            <img class="emoji mobile" src="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_19.png"
                 srcset="https://chatfuel.com/static/landing/v3/images/emoji/white-right-pointing-backhand_38.png 2x" style="display: none"> Get started for free.
        </div>
        <a class="btn-button btn-facebook">
            <img src="https://chatfuel.com/static/landing/v3/images/buttons/facebook.svg"> Sign in with Facebook
        </a>
        <div class="noregtext">&nbsp;</div>
    </div>
    <div class="iphone animate">
        <img class="phone" src="https://chatfuel.com/static/landing/v3/images/iphone.jpg">
        <div class="appicon" style="transform: translateY(-83.5152px);">
            <img src="https://chatfuel.com/static/landing/v3/images/appicon.png" srcset="/static/landing/v3/images/appicon2xd.png 2x">
        </div>
    </div>
</section>

